a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
html,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

/* 
Color Palette:
white: #FCFCFC  black: #000000
sapphire 78: rgba(24, 51, 153, 0.78)
very light grey: #e3e3e3
grey: #acacac
*/

/* ************************ 
   * my styles start here *
   ************************  */

/* global styles  */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
.logo {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

h1 {
  /* font styles */
  font-style: italic;
  font-size: 15rem;
  font-weight: 500;
  line-height: 90px;
  text-align: center;

  /* margin styles */
  margin-top: 150px;
  margin-bottom: 60px;
}

h2 {
  font-size: 4.9rem;
  font-weight: 600;
}

h3 {
  font-size: 3.5rem;
}

p {
  line-height: 29px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fcfcfc;
}

figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.btn {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.8rem;
  line-height: 29px;
  text-align: center;

  color: #fcfcfc;
  background-color: rgba(24, 51, 153, 0.78);
  border: 2px solid transparent;

  padding: 10px 25px;
}

/* header styles */
header {
  background-image: url(./assets/header.jpg);
  background-size: cover;
  background-position: 50%;

  height: 90vh;
  min-height: 600px;

  color: #fcfcfc;

  padding: 30px;
}

header h1 span {
  display: block;

  font-size: 10rem;
  font-style: normal;
}

.logo {
  font-style: italic;
  font-size: 4rem;

  float: left;
}

.hamburger {
  display: none;
}

.hamburger i {
  font-size: 4rem;
}

.hnav ul {
  float: right;
}
.hnav ul li {
  float: left;
  margin-left: 15px;
}

.hnav a:hover,
.hnav a:focus {
  color: #acacac;
}

.social {
  text-align: right;
}

.social ul li {
  margin: 15px 0;
}

.social a:hover,
.social a:focus {
  color: #acacac;
}

/* main styles */

main .btn:hover {
  background-color: #fff;
  border: 2px solid rgba(24, 51, 153, 0.78);
  color: rgba(24, 51, 153, 0.78);
}

/* first section */
.new {
  text-align: center;
  margin: 75px 0;
}

.gallery li img {
  float: left;
  margin-right: 20px;
  width: calc((100% - 40px) / 3);
}

.gal3 img:nth-of-type(1) {
  margin-right: 0px;
}

/* second section */
.fig1 {
  float: left;
  width: 40%;
  margin: 75px 0;
}

.highlight {
  float: left;
  width: 55%;
  margin: 75px 0 75px 20px;
}

article p {
  margin: 30px 0;
}

/* third section */

.blockTopText {
  float: left;
  width: 50%;
  height: 550px;
  padding: 50px 50px 0 0;
}

.blockTopImg {
  float: right;

  width: 50%;
  height: 550px;

  background-image: url(./assets/image-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.blockBtmText {
  float: left;
  width: 50%;
  height: 550px;
  padding: 50px 0 0 50px;
}

.blockBtmImg {
  float: left;

  width: 50%;
  height: 550px;

  background-image: url(./assets/image-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
}

/* fourth section */
.linkSection {
  width: 100%;
  padding: 100px;

  background-image: url(./assets/footer.jpg);
  background-size: cover;
  background-position: 50%;
}

.linkSection nav {
  text-align: center;
}

.links {
  text-align: center;
  display: inline-block;
}

.link {
  float: left;
  text-align: center;
  padding: 0 50px;
}

.link a:hover,
.link a:focus {
  color: #e3e3e3;
}

.link i {
  font-size: 8rem;
  padding-bottom: 20px;
}

/* footer section */
footer {
  background-color: #e3e3e3;
}

.contact {
  padding: 75px 0;
}

.subscribe,
.contactInfo {
  float: left;
}

/* subscription form */
.subscribe {
  width: 50%;
}

.subscribe h4,
.subscribe p {
  padding-bottom: 15px;
}

.subscribe input {
  margin-right: -4px;
  padding: 0 0 0 10px;
  border: none;
  vertical-align: bottom;
}
.subscribe input,
.subscribe button {
  height: 40px;
}

.subscribe button {
  padding: 4px 25px;
  border: none;
  background-color: #000;
}

.subscribe button:hover,
.subscribe button:focus {
  color: #e3e3e3;
}

/* contact info */
.contactInfo {
  width: 30%;
}

/* footer navigation menu */
.footerNav {
  float: right;
  text-align: right;
}

.footerNav li {
  padding-bottom: 15px;
}

.footerNav a {
  color: black;
}

.footerNav a:hover,
.footerNav a:focus {
  color: rgba(24, 51, 153, 0.78);
}

/* footer copyright */
.copyright {
  background-color: #acacac;
}

.copyright p {
  text-align: center;
  padding: 15px 0px;
}

/* ****************************
   * MEDIA QUERIES START HERE *
   **************************** */

@media (max-width: 1300px) {
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.8rem;
  }
  .link {
    padding: 0 30px;
  }
}

@media (max-width: 1150px) {
  .fig1 {
    margin: 75px 0 50px 0;
  }
  .highlight {
    margin: 0 0 75px 0;
  }
  .fig1,
  .highlight {
    float: none;
    width: 100%;
  }
  .link h3 {
    font-size: 3rem;
  }
  .link i {
    font-size: 7rem;
  }
}

@media (max-width: 1050px) {
  .link h3 {
    font-size: 2.5rem;
  }
  .link i {
    font-size: 6.5rem;
  }
  footer p {
    font-size: 1.6rem;
  }
  .subscribe h4,
  .subscribe p {
    padding-bottom: 5px;
  }
  .contactInfo {
    width: 35%;
    margin-left: 30px;
  }
  .footerNav a {
    font-size: 1.6rem;
  }
}

@media (max-width: 980px) {
  .gallery li img {
    width: calc((100% - 20px) / 2);
  }
  .gal2 img:nth-of-type(1) {
    margin-right: 0;
  }
  .gal3 {
    display: none;
  }
  .highlight {
    text-align: center;
  }
  .blockTopImg,
  .blockTopText,
  .blockBtmImg,
  .blockBtmText {
    float: none;
    width: 100%;
  }
  .blockTopText,
  .blockBtmText {
    text-align: center;
    height: 100%;
    padding: 50px 0 75px 0;
  }
  .blockTopImg,
  .blockBtmImg {
    height: 500px;
  }
  footer h4 {
    font-size: 2.5rem;
  }
  .subscribe {
    text-align: center;
    width: 100%;
  }
  .contactInfo {
    clear: both;
    width: 75%;
    margin: 75px 0 0 0;
  }
  .footerNav {
    margin-top: 75px;
  }
  .subscribe p {
    padding-bottom: 15px;
  }
  .subscribe p,
  .contactInfo p,
  .footerNav a {
    font-size: 2rem;
  }
}

@media (max-width: 940px) {
  .link h3 {
    font-size: 2rem;
  }
  .link i {
    font-size: 6rem;
  }
}

@media (max-width: 840px) {
  .link {
    float: none;
  }
  .midLink {
    padding: 50px 0;
  }
  .link h3 {
    font-size: 3.5rem;
  }
  .link i {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  header {
    max-height: 80vh;
    min-height: 450px;
  }
  .hnav,
  .logo,
  .social {
    display: none;
  }
  .hamburger {
    display: initial;
    float: right;
  }
  .blockTopImg,
  .blockBtmImg {
    height: 350px;
  }
  .subscribe input,
  .subscribe button {
    display: block;
    width: 100%;
  }
  .subscribe input {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 13rem;
    line-height: 80px;
  }
  header h1 span {
    font-size: 8rem;
  }
  .blockTopImg,
  .blockBtmImg {
    height: 300px;
  }
  .copyright p {
    font-size: 1.4rem;
    padding: 5px 0;
  }
}

@media (max-width: 510px) {
  header {
    padding: 15px;
  }
  h1 {
    font-size: 12rem;
    line-height: 80px;
  }
  header h1 span {
    font-size: 7rem;
  }
  .blockTopImg,
  .blockBtmImg {
    height: 200px;
  }
  footer h4 {
    margin-bottom: 15px;
  }
  .subscribe p,
  .contactInfo p,
  .footerNav a {
    font-size: 1.6rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 11.5rem;
    line-height: 70px;
  }
  header h1 span {
    font-size: 6.5rem;
  }
  .link h3 {
    font-size: 2.5rem;
  }
  .link i {
    font-size: 6.5rem;
  }
  .linkSection {
    padding: 25px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 10.5rem;
    line-height: 65px;
  }
  header h1 span {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .subscribe p,
  .contactInfo p {
    font-size: 1.4rem;
  }
}
